<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @attendance.member %>
</p>

<p>
  <strong>Events:</strong>
  <%= @attendance.events %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
