<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @member.contact_number %>
</p>

<p>
  <strong>Emergency contact:</strong>
  <%= @member.emergency_contact %>
</p>

<p>
  <strong>Combatant?:</strong>
  <%= @member.combatant %>
</p>

<p>
  <strong>Medical Notes:</strong>
  <%= @member.medical_notes %>
</p>

<p>
  <strong>Memberships</strong>
</p>
<ul>
  <% @member.memberships.each do |membership| %>
  <li><%= "#{membership.organisation.name} #{membership.year}" %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
